/* Global styles 
------------------------------------*/
/* border box fix */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a {
    color: #EF233C;
	text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
}
.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}

.column-narrow {
  width: 35%;
  float: left;
  padding-right: 3%;
	  min-height: 175px;
/*	border: 1px solid black;*/
}
.column-wide {
  width: 62%;
  float: left;
  min-height: 175px;
/*	border: 1px solid black;*/
}
.btn {
  text-decoration: none;
  background: #EF233C;
  color: white;
  padding: 10px;
  display: inline-block;
}



/* Header & Footer 
------------------------------------*/
header, 
footer {
  background: #2B2D42;
  color: #8D99AE;
}
header h1,
header h2 {
    color: #EDF2F4;
    margin: 0;
}

/* Header styles only */
header {
/*  text-align: center;*/    
}
.profile-img {
  width: 300px;
  border-radius: 50%;
/*  float: left;*/
/*  margin-right: 30px;*/
}

/* Footer styles only */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}
.btn{
	position: absolute;
	right: 0;
	bottom: 0;
	
		
}


/* Work Experience
------------------------------------*/
.work {
    background: #EDF2F4;
}


/* Education
------------------------------------*/
.education {
    background: url(../images/bki.jpg) no-repeat fixed;
    background-size: cover;
    
}
            
p + h3 {
  margin-top: 30px;
}

#annoyingShit {
	font-size:12px
	   
}
#annoyingShit {
	padding-bottom: 50px
}

/* NAVIGATION
-----------------------*/
nav {
  text-align: center;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  /*z-index: 100;*/
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
	color: rebeccapurple;
}
/*MEDIA QUERIES*/
/*MEDIA QUERIES*/
.column-wide {
	padding: 30px; 
}
}
@media (min-width: 900px) {
  .col-narrow {
    width: 30%;
    float: left;
  }
  .col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
  }
}
@media (max-width: 899px){
  header {
    text-align: center;
  }
  .profile-img {
    width: 200px;
  }
}
